<div class="docs-header-headline">
<div class="content">
    <h1 class="group-name">What's In A Name?</h1>
    <div class="group-summary-container">
        <div class="group-summary-div">
            <span class="group-summary-title">Member Count</span> <br />
            <span class="group-summary-value">10 Members</span>
        </div>
        <div class="group-summary-div">
            <span class="group-summary-title">Choices Made</span><br />
            <span class="group-summary-value"> 0 of 14</span>
        </div>
        <div class="group-summary-div">
            <span class="group-summary-title">Date Of Event</span><br />
            <span class="group-summary-value">February 22nd</span>
        </div>
    </div>
</div>
</div>


<div><button mat-raised-button class="choice-button">Make Choices!</button></div>
<button mat-raised-button class="choice-button"> Manage</button>